/* --css rest */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2{
    overflow-wrap: break-word;
  }

  /* ---css variables */
  :root{
    /* colors */
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --Lightgrey: hsl(217, 12%, 63%);
    --mediumgrey: hsl(216, 12%, 54%);
    --darkblue: hsl(213, 19%, 18%);
    --verydarkblue: hsl(216, 12%, 8%);
    

    /* --fonts */
    --font-family:'Overpass', sans-serif;
    --font-weight: 400, 700;
  }
  body{
      background-color: var(--verydarkblue);  
    
  }
  form{
     background-color: var(--darkblue); 
     padding: 2rem;
    margin: 1em; 
    width: 300px;
    color: var(--white);
    box-sizing: border-box;
    border-radius: 28px;
  }

ul{
 margin-block-end: 0em;
 margin-block-start: 0em;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 padding-inline-start: 0px;
display: flex;
justify-content: space-between;
margin-bottom: 2em;
gap: 12px;
   
}
  li{
   list-style: none;
     opacity: 0.7;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 0.6em;
    color: white;
    cursor: pointer;
    border:  solid rgba(138, 148, 164, 0);
    background-color: rgba(144, 168, 207, 0.094);
  }
  li:hover{
    background-color: var(--mediumgrey);
    
  }
  li:active{
    background-color: var(--orange);
  }
  .pmage{
    border:  solid rgba(138, 148, 164, 0);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 1em;
    background-color: rgba(144, 168, 207, 0.094);
    
  }
  h1{
    margin-bottom: 1em;
   font-size: 2em;
  }
  p{
    margin-bottom: 2em;
   font-size: 16px;
   opacity: 0.7;
  }
  .input{
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    font-weight: 700;
    background-color: var(--orange);
    color: var(--white);
    font-size: 17px;
    border:  0px;
    cursor: pointer;
    opacity: 0.9;
    
  }
    .rate{
      width: 100%;
      padding: 10px;
      border-radius: 30px;
      font-weight: 700;
      background-color: var(--orange);
      color: var(--white);
      font-size: 17px;
      border:  0px;
      cursor: pointer;
      opacity: 0.9;
      margin-bottom: 20px;
  }
  /* ---thank you container */
  section{
    padding: 1rem;
    margin: 2em;
    background-color: var(--darkblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
     display: none; 
    width: 300px;
    border-radius: 28px;
    
  }
  .image{
    border: 0;
    border-radius: 0;
    padding-top: 1.2em;
    
    
  }
  .rating{
    color: var(--orange);
    
    font-size: 16px;
    border: solid rgba(138, 148, 164, 0);
    width: 200px;
    border-radius: 30px;
    text-align: center;
    padding: 8px 0;
    opacity: 0.8;
    background-color: rgba(144, 168, 207, 0.094);
  
  }
  section p{
    color: var(--white);
    opacity: 0.7;
    text-align: center;
  }
  h3{
    color: var(--white);
    font-size: 2em;
    
  }
  /* media query*/
  @media screen and (min-width:600px){
    form{
      width: 500px;
      margin-top: 13em;
    }
    section{
      width: 500px;
      margin: 10em;
      height: 530px;

    }
    body{
      display: flex;
      justify-content: center;
    }
  }
  